<div class="container table-list workTimeEntries">
    <h2 class="title">Work Time Entries</h2>
    <div class="row filters">
        <div class="col-xs-12 col-sm-7 col-md-5 btn-group">
            <label class="btn btn-primary col-xs-3" ng-model="model.fastPeriodFilter" btn-radio="'lm'" uncheckable>Last month</label>
            <label class="btn btn-primary col-xs-3" ng-model="model.fastPeriodFilter" btn-radio="'lw'" uncheckable>Last week</label>
            <label class="btn btn-primary col-xs-3" ng-model="model.fastPeriodFilter" btn-radio="'tm'" uncheckable>This month</label>
            <label class="btn btn-primary col-xs-3" ng-model="model.fastPeriodFilter" btn-radio="'tw'" uncheckable>This week</label>
        </div>

        <div class="col-md-2 btn-group" dropdown is-open="utils.userDropdownOpened">
            <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="!utils.isCurrentOrganizationAdmin()">
                {{model.membersFilterText}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="member in model.members">
                    <a class="pointer" ng-click="actions.memberFilterChange(member._user)" href>{{member._user.name}}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="pointer" ng-click="actions.memberFilterChange('all') " href>All</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3 btn-group">
            <label class="btn btn-primary" ng-model="model.workTimeEntryType" btn-radio="'in'" uncheckable>in</label>
            <label class="btn btn-primary" ng-model="model.workTimeEntryType" btn-radio="'out'" uncheckable>out</label>
        </div>
    </div>

    <div class="row filters form-inline">
        <div class="col-xs-12 col-sm-5 col-lg-4 form-group">
            <label>
                From:
            </label>
            <p class="input-group date-picker">
                <input type="text" class="form-control" datepicker-popup="{{utils.format}}" ng-model="model.from" is-open="utils.fromOpened" min-date="null" max-date="model.to" date-disabled="utils.disabled(date, mode)" ng-required="false" close-text="Close" disabled/>
                <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="actions.dateFromOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
            </p>
        </div>

        <div class="col-xs-12 col-sm-5 col-lg-4 form-group">
            <label>
                To:
            </label>
            <p class="input-group date-picker">
                <input type="text" class="form-control" datepicker-popup="{{utils.format}}" ng-model="model.to" is-open="utils.toOpened" min-date="model.from" max-date="null" date-disabled="utils.disabled(date, mode)" ng-required="false" close-text="Close" disabled/>
                <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="actions.dateToOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
            </p>
        </div>

        <div class="col-xs-4 col-sm-2 form-group">
            <button class="btn btn-primary" ng-click="actions.search()">Search</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <canvas style="width: 100%" id="line" class="chart chart-line" data="model.chartData" labels="model.chartLabels" legend="true" series="model.chartSeries" options="model.chartOptions">
            </canvas>
        </div>
    </div>

    <div class="row main-commands">
        <button class="btn btn-new" ng-click="actions.new()">
            Add new <span><i class="fa fa-plus"></i></span>
        </button>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Type
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in model.workTimeEntries">
                    <td>
                        {{ item._user.name }}
                    </td>
                    <td>
                        {{ item.performedAt | date: 'shortDate' }}
                    </td>
                    <td>
                        {{ item.performedAt | date: 'shortTime' }}
                    </td>
                    <td>
                        {{ item.workTimeEntryType }}
                    </td>
                    <td>
                        <div class="icon-device" ng-show="{{ !item.manual }}"></div>
                    </td>
                    <td class="text-right">
                        <button role='button' class='btn btn-edit' ng-click='actions.edit(item)'>
                            <i class="fa fa-pencil"></i>EDIT
                        </button>
                        <button role='button' class='btn btn-delete' ng-click='actions.delete(item)'>
                            <i class="fa fa-times"></i>DELETE
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row pagination-controls">
            <div class="col-xs-6 text-left">
                <div class="page-recap">Page: {{model.page}} / {{model.numPages}}</div>
                <div class="page-size">Page size: &nbsp;
                    <a ng-click="utils.setPageSize(10)">10</a>&nbsp;
                    <a ng-click="utils.setPageSize(50)">50</a>&nbsp;
                    <a ng-click="utils.setPageSize(100)">100</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <pagination class="pagination" total-items="model.totalNumber" ng-model="model.page" max-size="model.maxPaginationSize" boundary-links="true" rotate="false" num-pages="model.numPages"></pagination>
            </div>
        </div>



        <!--
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="model.itemsPerPage" btn-radio="10">10</label>
            <label class="btn btn-primary" ng-model="model.itemsPerPage" btn-radio="50">50</label>
            <label class="btn btn-primary" ng-model="model.fastPeriodFilter" btn-radio="100">100</label>
        </div>
-->
    </div>
</div>