.filters {
    > * {
        margin: 10px 0;
    }
}

.filters.form-inline {
    label {
        display: block;
    }
}

.chart-container {
    canvas {
        height: 200px;
    }
}

.table {
    td.text-right {
        padding-right: 22px;
    }
}

.pagination-controls {
    margin-left: 5px;
    margin-right: 5px;
    @media (max-width: 768px) {
        > div {
            &:last-child {
                text-align: left;
            }
        }
    }
    .page-recap {
        margin-top: 10px;
        line-height: 16px;
    }
    .pagination {
        margin: 10px 0;
    }
    .page-size {
        line-height: 16px;
        display: inline-block;
        margin-bottom: 10px;
        a {
            cursor: pointer;
        }
    }
}