.logo {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.read-uid > input {
    display: inline-block;
    width: calc(100% - 100px);
}

.icon-device {
    background-image: url('../assets/images/icon_device.png');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn.active .spinner .icon-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.table-working-days {
    td {
        height: 50px;
    }
}

//
//
// PANEL
//
//
.organizations {
    .panel {
        background: transparent;
        .panel-heading {
            background: $gray-header;
        }
    }
}

//
//
// NAV TABS
//
//
.nav-tabs {
    li a {
        border: 1px solid $gray-header;
        cursor: pointer;
        font-weight: 600;
        margin-right: 0;
    }
    li.active {
        a, a:hover, a:active, a:focus {
            background: $blue;
            color: $white;
            font-weight: normal;
        }
    }
}

.pending-invites {
    h3 {
        padding: 10px 20px;
    }
    ul {
        li {
            list-style: none;
        }
    }
}