<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.spot.io.android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="it.spot.io.app.DoorKeeperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="it.spot.io.app.home.LoggedInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/it.spot.io.doorkeeper" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="it.spot.io.app.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.spot.io.app.login.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="it.spot.io.app.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="it.spot.io.app.absences.AbsencesNewActivity"
            android:parentActivityName="it.spot.io.app.home.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.spot.io.app.home.HomeActivity" />
        </activity>
        <activity
            android:name="it.spot.io.app.entries.EntriesNewActivity"
            android:parentActivityName="it.spot.io.app.home.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.spot.io.app.home.HomeActivity" />
        </activity>

        <!--<receiver android:name=".widget.WidgetProvider">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--</intent-filter>-->
        <!--<meta-data-->
        <!--android:name="android.appwidget.provider"-->
        <!--android:resource="@xml/app_widget_info" />-->
        <!--</receiver>-->
    </application>

</manifest>
