// colors 
$white:#FFF;
 $black:#0F0F1E;
 $gray-background:#EEEEF3;
 $gray-header:#DDD;
 $gray-header-active: #ACACAC;
 $gray-shadow: #CDCDCD;
 $gray-font: #4C4C4C;
 $green: #59B200;
 $dark-green: #238C00;
 $red: #FF4D4D;
 $dark-red: #D90000;
 $blue:#0080FF;
 $dark-blue: #0080FF;
 // dimensions
 $footer-height: 50px;