<div>
    <div class="login-partial">
        <form name="form" layout="column" ng-submit="vm.login(form)" novalidate class="md-padding">
            <md-input-container class="md-padding">
                <label for="email">email</label>
                <input id="email" label="email" name="email" type="email" ng-model="vm.email" required>
            </md-input-container>
            <md-input-container class="md-padding">
                <label for="password">password</label>
                <input id="password" label="password" name="password" type="password" ng-model="vm.password" required>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Log in</md-button>
            <div class="md-padding">or sign in by</div>
            <md-button  class="md-raised md-primary google" target="_self" href="/auth/google">Google</md-button>
        </form>
    </div>
</div>