@mixin custom-button($primary-color, $secondary-color, $font-color: $white) {
  background: $primary-color;
  color: $font-color;
  padding: 0 12px 0 0;

  &:hover,
  &:active,
  &:focus {
    background: $secondary-color;
    outline: none;
    outline-offset: -2px;
  }

  i {
    background: $secondary-color;
    padding: 6px;
    margin-right: 12px;
  }
}
