<div class="members panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Hours
                    </th>
                    <th>
                        NFC-uid
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in model.organization.members">
                    <td>
                        {{ member._user.email }}
                    </td>
                    <td>
                        {{ member._user.name }}
                    </td>
                    <td class="col-md-2">
                        <div class="btn-group" ng-show="model.editingMember._id === member._id">
                            <label class="btn btn-default" ng-model="model.editingMember.role" btn-radio="'user'" ng-disabled="utils.isMemberCurrentUser(member)">user</label>
                            <label class="btn btn-warning" ng-model="model.editingMember.role" btn-radio="'admin'" ng-disabled="utils.isMemberCurrentUser(member)">admin</label>
                        </div>
                        <div ng-hide="model.editingMember._id === member._id">
                            {{ member.role }}
                        </div>
                    </td>
                     <td class="col-md-1">
                        <div class="btn-group" ng-show="model.editingMember._id === member._id">
                            <input type='number' ng-model="model.editingMember.hours" class="form-control" style="width:50px" />
                        </div>
                        <div ng-hide="model.editingMember._id === member._id">
                            {{ member.hours }}
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="read-uid input-group" ng-show="model.editingMember._id === member._id">
                            <input type='text' ng-model="model.editingMember.nfc_uid" class="form-control" />
                            <a class="btn btn-primary has-spinner input-group-addon" ng-click="actions.readUid(model.editingMember)" ng-class="{ active: utils.readingUid }" ng-show="utils.currentUserIsAdmin()">
                                Read
                                <span class="spinner">
                                    <i class="glyphicon glyphicon-refresh icon-spin"></i>
                                </span>
                            </a>
                        </div>
                        <div ng-hide="model.editingMember._id === member._id">
                            {{ member.nfc_uid }}
                        </div>
                    </td>
                    <td class="text-right">
                        <button role='button' class='btn btn-primary' ng-click='actions.updateMember(member)' ng-show="model.editingMember._id === member._id"><i class="fa fa-check"></i>
                        </button>
                        <button role='button' class='btn btn-default' ng-click='actions.cancelEditMember(member)' ng-show="model.editingMember._id === member._id"><i class="fa fa-remove"></i>
                        </button>
                        <button role='button' class='btn btn-edit' ng-click='actions.editMember(member)' ng-show="!(model.editingMember._id === member._id) && utils.currentUserIsAdmin()">
                            <i class="fa fa-pencil"></i>EDIT
                        </button>
                        <button role='button' class='btn btn-delete' ng-click='actions.removeMember(member)' ng-show="!(model.editingMember._id === member._id) && utils.currentUserIsAdmin()" ng-disabled="utils.isMemberCurrentUser(member)">
                            <i class="fa fa-times"></i>DELETE
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>