<div class="main-partial text-center" layout="column" flex>
	<div class="welcome" layout="column" layout-align="center center" flex="none">
		<div class="md-headline">Welcome,</div>
		<div class="md-headline"><strong>{{vm.name}}</strong></div>
	</div>
	<div flex class="md-padding" layout-sm="column" flex="grow">
		<div layout-align="center center">
			<md-button class="md-raised md-primary big" ng-click="vm.action(true, true)"><strong>Open & Mark</strong></md-button>
		</div>
		<div layout="row">
			<div flex >
				<md-button class="md-raised md-secondary" ng-click="vm.action(false, true)">Open</md-button>
				<!--<md-button class="md-fab md-raised md-primary big door" aria-label="Open" ng-click="vm.action(false, true)">-->
				<!--	<md-icon md-svg-src="styles/images/door.svg"></md-icon>-->
				<!--</md-button>-->
			</div>
			<div flex>
				<md-button class="md-raised md-secondary" ng-click="vm.action(true, false)">Mark</md-button>
				<!--<md-button class="md-fab md-raised md-primary big mark" aria-label="Mark" ng-click="vm.action(true, false)">-->
				<!--	<md-icon md-svg-src="styles/images/timbro.svg"></md-icon>-->
				<!--</md-button>-->
			</div>
		</div>
	</div>
</div>