<form class="form" name="form" novalidate ng-submit="save(form)">
    <div class="modal-header">
        <h3 class="modal-title">Setup new password</h3>
    </div>
    <div class="modal-body">

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                  'has-error': form.password.$invalid && submitted }">
            <label>New password</label>

            <input type="password" name="password" class="form-control" ng-model="model.password" ng-minlength="6" required mongoose-error/>
            <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                Password must be at least 6 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.password }}
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                                  'has-error': form.confirmPassword.$invalid && submitted }">
            <label>Confirm new password</label>

            <input type="password" name="confirmPassword" class="form-control" ng-model="model.confirmPassword" equals="model.password" />
            <p class="help-block" ng-show="(form.confirmPassword.$error.equals) && submitted">
                Password is not matching.
            </p>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>